.Board {
  margin-top: 50px;
  padding: 0 15px;
}

.Board .ui.grid > .row.inner {
  padding-top: 0;
  padding-bottom: 0;
}

.Board .ui.grid > .row.outer-bottom {
  padding-top: 0;
}

.Board .ui.grid > .row.outer-top {
  padding-bottom: 0;
}

.Board .Board-cell {
  border: 1px solid black;
  text-transform: uppercase;
}

.Board .Board-cell h1 {
  position: relative;
  top: -1000px;
  margin: 20px 0;
}

.Board .Board-cell.empty {
  background-color: green;
}

.Board .Board-cell.visible h1 {
  top: 0px;
}
